body {
  background-image:linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
  font-size: 12px;
  font-family: "Kumbh", sans-serif;
}

.accordion {
  width: 800px;
  margin: 90px auto;
  color: black;
  background-color: white;
  padding: 45px 45px;
}





/***Footer***/
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
